{% extends 'base_dashboard.html' %}
{% load static %}
{% block header_title %}Quiz Review{% endblock %}

{% block content %}
    <a href="{% url 'quiz_list' %}" class="btn btn-primary mb-2"><i class="fe fe-arrow-left"></i> back</a>
    <div class="card">
        <!-- Card header -->
        <div class="card-header">
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-1">{{ themes }}</h3>
                <p class="mb-0">{{ results.points }} points ({{ results.percentage }}%)</p>
            </div>
        </div>
        <div class="card-body">
            {% for question in quiz.question_set.all %}
                <h3>Q{{ forloop.counter }} : {{ question.text }}</h3>
                <div class="row">
                    {% for answer in question.answer_set.all %}
                        <div class="d-grid mb-2 col-12 col-md-3">
                            {% if answer.user_answer and answer.is_correct %}
                                <button class="btn btn-success text-start">{{ answer.text }}</button>
                            {% elif answer.user_answer and not answer.is_correct %}
                                <button class="btn btn-danger text-start">{{ answer.text }}</button>
                            {% elif answer.is_correct %}
                                <button class="btn btn-outline-success text-start">{{ answer.text }}</button>
                            {%  else %}
                                <button class="btn btn-outline-secondary text-start">{{ answer.text }}</button>
                            {%  endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}