{% extends 'base_dashboard.html' %}
{% load static %}
{% block header_title %}Quiz Review{% endblock %}

{% block content %}
    <a href="{% url 'quiz_list' %}" class="btn btn-primary mb-2"><i class="fe fe-arrow-left"></i> back</a>
    <div class="card">
        <!-- Card header -->
        <div class="card-header">
            <div class="mb-3 mb-lg-0">
                <h3 class="mb-1">{{ themes }}</h3>
                <p class="mb-0">{{ results.points }} points ({{ results.percentage }}%)</p>
            </div>
        </div>
        <div class="card-body">
            {% for question, user_response, responses in questions %}
                <h3>Q{{ forloop.counter }} : {{ question.name }}</h3>
                <div class="row">
                    {% for response in responses %}
                        <div class="d-grid mb-5 col-12 col-md-3">
                            {% if response.id == user_response.id and response.is_true %}
                                <button class="btn btn-success text-start">{{ response.response }}</button>
                            {% elif response.id == user_response.id and not response.is_true %}
                                <button class="btn btn-danger text-start">{{ response.response }}</button>
                            {% elif response.is_true %}
                                <button class="btn btn-outline-success text-start">
                                    <span class="position-relative top-0 start-100 translate-middle badge rounded-pill bg-success">
                                        <i class="fe fe-check"></i>
                                    </span>
                                    {{ response.response }}</button>
                            {%  else %}
                                <button class="btn btn-outline-secondary text-start">{{ response.response }}</button>
                            {%  endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}