{% extends 'base_dashboard.html' %}
{% load static %}
{% block header_title %}
    {% if step == 'themes' %}
        Choose themes
    {% elif step == 'wait-for-quiz' %}
        Start your quiz
    {% elif step == 'quiz' %}
        Quiz
    {% endif %}
{% endblock %}

{% block content %}
    {% if step == 'themes' %}
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-12 col-lg-4 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-4by3">
                                        <img src="{% static 'Dashkit/img/avatars/projects/project-1.jpg' %}" alt="..."
                                             class="avatar-img rounded">
                                    </div>

                                </div>
                                <div class="col ms-n2">
                                    <!-- Title -->
                                    <h4 class="mb-1">Thème 1</h4>
                                </div>
                                <div class="col-auto">
                                    <input name="theme1" class="form-check-input" type="checkbox" id="theme1" value="1">
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-4by3">
                                        <img src="{% static 'Dashkit/img/avatars/projects/project-1.jpg' %}" alt="..."
                                             class="avatar-img rounded">
                                    </div>

                                </div>
                                <div class="col ms-n2">
                                    <!-- Title -->
                                    <h4 class="mb-1">Thème 2</h4>
                                </div>
                                <div class="col-auto">
                                    <input name="theme2" class="form-check-input" type="checkbox" id="theme2" value="2">
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-4by3">
                                        <img src="{% static 'Dashkit/img/avatars/projects/project-1.jpg' %}" alt="..."
                                             class="avatar-img rounded">
                                    </div>
                                </div>
                                <div class="col ms-n2">
                                    <!-- Title -->
                                    <h4 class="mb-1">Thème 3</h4>
                                </div>
                                <div class="col-auto">
                                    <input name="theme3" class="form-check-input" type="checkbox" id="theme3" value="3">
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-4by3">
                                        <img src="{% static 'Dashkit/img/avatars/projects/project-1.jpg' %}" alt="..."
                                             class="avatar-img rounded">
                                    </div>

                                </div>
                                <div class="col ms-n2">
                                    <!-- Title -->
                                    <h4 class="mb-1">Thème 4</h4>
                                </div>
                                <div class="col-auto">
                                    <input name="theme4" class="form-check-input" type="checkbox" id="theme4" value="4">
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3 col-12">
                    <button type="submit" class="btn btn-primary mb-2 lift">Create Quizz</button>
                </div>
            </div>
        </form>
    {% elif step == 'wait-for-quiz' %}
        <div class="text-center">
            <!-- img -->
            <img src="{% static 'Geek/images/svg/survey-img.svg' %}" alt="" class="img-fluid">
            <!-- text -->
            <div class="px-lg-18">
                <h1>Welcome to Quiz</h1>
                <p class="mb-0">Your quiz is ready, just one more step, click the button below.</p>
                <form method="post">
                    {% csrf_token %}
                    <button name="start_quiz" class="btn btn-primary mt-4">Start Your Quiz</button>
                </form>
            </div>
        </div>
    {% elif step == 'quiz' %}
        <div id="courseForm" class="bs-stepper">

            <!-- Stepper Button -->

            <!-- Stepper content -->
            <div class="bs-stepper-content">
                <div class=" " role="tablist">
                    <div class="step" data-target="#test-l-1">
                        <div class="step-trigger visually-hidden" role="tab" id="courseFormtrigger1"
                             aria-controls="test-l-1">

                        </div>
                    </div>

                    <div class="step" data-target="#test-l-2">
                        <button type="button" class="step-trigger visually-hidden" role="tab" id="courseFormtrigger2"
                                aria-controls="test-l-2">

                        </button>
                    </div>

                    <div class="step" data-target="#test-l-3">
                        <button type="button" class="step-trigger visually-hidden" role="tab" id="courseFormtrigger3"
                                aria-controls="test-l-3">

                        </button>
                    </div>

                    <div class="step" data-target="#test-l-4">
                        <button type="button" class="step-trigger visually-hidden" role="tab" id="courseFormtrigger4"
                                aria-controls="test-l-4">

                        </button>
                    </div>
                    <div class="step" data-target="#test-l-5">
                        <button type="button" class="step-trigger visually-hidden" role="tab" id="courseFormtrigger5"
                                aria-controls="test-l-5">

                        </button>
                    </div>
                </div>
                <form onSubmit="return false">
                    <!-- Content one -->
                    <div id="test-l-1" role="tabpanel" class="bs-stepper-pane fade">
                        <div class="card mb-4">


                            <!-- Card body -->
                            <div class="card-body">

                                <!-- quiz -->
                                <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
                                    <div class="d-flex align-items-center">
                                        <!-- quiz img -->
                                        <a href="#"> <img src="{% static 'Geek/images/course/course-react.jpg' %}"
                                                          alt=""
                                                          class="rounded img-4by3-lg"></a>
                                        <!-- quiz content -->
                                        <div class="ms-3">
                                            <h3 class="mb-0"><a href="#" class="text-inherit">React Basic Quiz </a></h3>

                                        </div>
                                    </div>
                                    <div>
                                        <span class="text-danger"><i class="fe fe-clock me-1 align-middle"></i>00:05:55</span>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <!-- text -->
                                    <div class="d-flex justify-content-between">
                                        <span>Exam Progress:</span>
                                        <span> Question 1 out of 5</span>
                                    </div>
                                    <!-- progress bar -->
                                    <div class="mt-2">
                                        <div class="progress" style="height: 6px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 15%"
                                                 aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- text -->
                                <div class="mt-5">
                                    <span>Question 1</span>
                                    <h3 class="mb-3 mt-1">React is mainly used for building ___.</h3>
                                    <!-- list group -->
                                    <div class="list-group">
                                        <div class="list-group-item list-group-item-action " aria-current="true">
                                            <!-- form check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDefault1">
                                                <label class="form-check-label stretched-link" for="flexRadioDefault1">
                                                    Database
                                                </label>
                                            </div>
                                        </div>
                                        <!-- list group -->
                                        <div class="list-group-item list-group-item-action">
                                            <!-- form check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDefault2">
                                                <label class="form-check-label stretched-link" for="flexRadioDefault2">
                                                    Connectivity
                                                </label>
                                            </div>
                                        </div>
                                        <!-- list group -->
                                        <div class="list-group-item list-group-item-action">
                                            <!-- form check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDefault3">
                                                <label class="form-check-label stretched-link" for="flexRadioDefault3">
                                                    User interface
                                                </label>
                                            </div>
                                        </div>
                                        <!-- list group -->
                                        <div class="list-group-item list-group-item-action">
                                            <!-- form check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDefault4">
                                                <label class="form-check-label stretched-link" for="flexRadioDefault4">
                                                    Design Platform
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Button -->
                        <div class="mt-3 d-flex justify-content-end">
                            <button answer_name="flexRadioDefault" class="recordButton">Démarrer l'enregistrement
                            </button>
                            <p id="recordingStatus">Prêt à enregistrer</p>
                            <br>
                            <audio id="audioPlayer" controls style="display:none;"></audio>
                            <br>
                            <button class="btn btn-primary " onclick="courseForm.next()">
                                Next <i class="fe fe-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                    <div id="test-l-2" role="tabpanel" class="bs-stepper-pane fade"
                         aria-labelledby="courseFormtrigger2">
                        <div class="card mb-4">

                            <!-- Card body -->
                            <div class="card-body">

                                <!-- quiz -->
                                <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
                                    <div class="d-flex align-items-center">
                                        <!-- quiz img -->
                                        <a href="#"> <img src="{% static 'Geek/images/course/course-react.jpg' %}"
                                                          alt=""
                                                          class="rounded img-4by3-lg"></a>
                                        <!-- quiz content -->
                                        <div class="ms-3">
                                            <h3 class="mb-0"><a href="#" class="text-inherit">React Basic Quiz </a></h3>

                                        </div>
                                    </div>
                                    <!-- time -->
                                    <div>
                                        <span class="text-danger"><i class="fe fe-clock me-1 align-middle"></i>00:04:35</span>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <!-- text -->
                                    <div class="d-flex justify-content-between">
                            <span>Exam Progress:
                            </span>
                                        <span> Question 2 out of 5</span>
                                    </div>
                                    <!-- progress bar -->
                                    <div class="mt-2">
                                        <div class="progress" style="height: 6px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%"
                                                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </div>
                                <!-- text -->
                                <div class="mt-5">
                                    <span>Question 2</span>
                                    <h3 class="mb-3 mt-1">The lifecycle methods are mainly used for ___.</h3>
                                    <!-- list group -->
                                    <div class="list-group">
                                        <div class="list-group-item list-group-item-action " aria-current="true">
                                            <!-- form check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDefault15">
                                                <label class="form-check-label stretched-link" for="flexRadioDefault15">
                                                    keeping track of event history
                                                </label>
                                            </div>
                                        </div>
                                        <!-- list group -->
                                        <div class="list-group-item list-group-item-action">
                                            <!-- form check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDefault6">
                                                <label class="form-check-label stretched-link" for="flexRadioDefault6">
                                                    enhancing components
                                                </label>
                                            </div>
                                        </div>
                                        <!-- list group -->
                                        <div class="list-group-item list-group-item-action">
                                            <!-- form check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDefault7">
                                                <label class="form-check-label stretched-link" for="flexRadioDefault7">
                                                    freeing up resources
                                                </label>
                                            </div>
                                        </div>
                                        <!-- list group -->
                                        <div class="list-group-item list-group-item-action">
                                            <!-- form check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDefault8">
                                                <label class="form-check-label stretched-link" for="flexRadioDefault8">
                                                    none of the above
                                                </label>
                                            </div>
                                        </div>

                                    </div>


                                </div>

                            </div>
                        </div>
                        <!-- Button -->
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-secondary" onclick="courseForm.previous()">
                                <i class="fe fe-arrow-left"></i> Previous
                            </button>
                            <button class="btn btn-primary" onclick="courseForm.next()">
                                Next <i class="fe fe-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                    <div id="test-l-3" role="tabpanel" class="bs-stepper-pane fade"
                         aria-labelledby="courseFormtrigger3">
                        <div class="card mb-4">
                            <!-- Card body -->
                            <div class="card-body">
                                <!-- quiz -->
                                <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
                                    <div class="d-flex align-items-center">
                                        <!-- quiz img -->
                                        <a href="#"> <img src="{% static 'Geek/images/course/course-react.jpg' %}"
                                                          alt=""
                                                          class="rounded img-4by3-lg"></a>
                                        <!-- quiz content -->
                                        <div class="ms-3">
                                            <h3 class="mb-0"><a href="#" class="text-inherit">React Basic Quiz </a></h3>

                                        </div>
                                    </div>
                                    <!-- time -->
                                    <div>
                                        <span class="text-danger"><i class="fe fe-clock me-1 align-middle"></i>00:05:45</span>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <!-- text -->
                                    <div class="d-flex justify-content-between">
                            <span>Exam Progress:
                            </span>
                                        <span> Question 3 out of 5</span>
                                    </div>
                                    <!-- progress bar -->
                                    <div class="mt-2">
                                        <div class="progress" style="height: 6px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 75%"
                                                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </div>
                                <!-- text -->
                                <div class="mt-5">
                                    <span>Question 3</span>
                                    <h3 class="mb-3">___ can be done while multiple elements need to be returned from a
                                        component.</h3>
                                    <!-- buttons -->
                                    <div class="d-grid mb-2" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" checked="">
                                        <label class="btn btn-outline-secondary text-start"
                                               for="btnradio1">Abstraction</label></div>
                                    <!-- buttons -->
                                    <div class="d-grid mb-2">
                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                                        <label class="btn btn-outline-secondary text-start"
                                               for="btnradio2">Packing</label>
                                    </div>
                                    <!-- buttons -->
                                    <div class="d-grid mb-2">
                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3">
                                        <label class="btn btn-outline-secondary text-start"
                                               for="btnradio3">Insulation</label>
                                    </div>
                                    <!-- buttons -->
                                    <div class="d-grid mb-2">
                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio4">
                                        <label class="btn btn-outline-secondary text-start"
                                               for="btnradio4">Wrapping</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-secondary" onclick="courseForm.previous()">
                                <i class="fe fe-arrow-left"></i> Previous
                            </button>
                            <button class="btn btn-primary" onclick="courseForm.next()">
                                Next <i class="fe fe-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                    <div id="test-l-4" role="tabpanel" class="bs-stepper-pane fade"
                         aria-labelledby="courseFormtrigger4">

                        <div class="card mb-4">
                            <!-- Card body -->
                            <div class="card-body">
                                <!-- quiz -->
                                <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
                                    <div class="d-flex align-items-center">
                                        <!-- quiz img -->
                                        <a href="#"> <img src="{% static 'Geek/images/course/course-react.jpg' %}"
                                                          alt=""
                                                          class="rounded img-4by3-lg"></a>
                                        <!-- quiz content -->
                                        <div class="ms-3">
                                            <h3 class="mb-0"><a href="#" class="text-inherit">React Basic Quiz </a></h3>
                                        </div>
                                    </div>
                                    <!-- time -->
                                    <div>
                                        <span class="text-danger"><i class="fe fe-clock me-1 align-middle"></i>00:05:45</span>
                                    </div>
                                </div>
                                <!-- text -->
                                <div class="mt-3">
                                    <div class="d-flex justify-content-between">
                            <span>Exam Progress:
                            </span>
                                        <span> Question 4 out of 5</span>
                                    </div>
                                    <!-- progress bar -->
                                    <div class="mt-2">
                                        <div class="progress" style="height: 6px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 85%"
                                                 aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </div>
                                <!-- text -->
                                <div class="mt-5">
                                    <span>Question 4</span>
                                    <h3 class="mb-3">What’s the difference between a 301 and a 302 redirect?</h3>
                                    <!-- list group -->
                                    <div class="list-group">
                                        <div class="list-group-item list-group-item-action " aria-current="true">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="flexCheckboxDefault"
                                                       id="flexCheckboxDefault5" checked="">
                                                <label class="form-check-label stretched-link"
                                                       for="flexCheckboxDefault5">
                                                    301 is used for a temporary page redirection, 302 for a redirection
                                                    block
                                                </label>
                                            </div>
                                        </div>
                                        <!-- list group -->
                                        <div class="list-group-item list-group-item-action">
                                            <!-- form check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="flexCheckboxDefault"
                                                       id="flexCheckboxDefault6">
                                                <label class="form-check-label stretched-link"
                                                       for="flexCheckboxDefault6">
                                                    301 is used for a permanent page redirection, 302 for a temporary
                                                    redirection
                                                </label>
                                            </div>
                                        </div>
                                        <!-- list group -->
                                        <div class="list-group-item list-group-item-action">
                                            <!-- form check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="flexCheckboxDefault"
                                                       id="flexCheckboxDefault7">
                                                <label class="form-check-label stretched-link"
                                                       for="flexCheckboxDefault7">
                                                    301 is used for a page redirection block, 302 for a permanent
                                                    redirection
                                                </label>
                                            </div>
                                        </div>
                                        <!-- list group -->
                                        <div class="list-group-item list-group-item-action">
                                            <!-- form check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                       name="flexCheckboxDefault"
                                                       id="flexCheckboxDefault8">
                                                <label class="form-check-label stretched-link"
                                                       for="flexCheckboxDefault8">
                                                    301 is used for a temporary page redirection, 302 for a permanent
                                                    redirection
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-secondary" onclick="courseForm.previous()">
                                <i class="fe fe-arrow-left"></i> Previous
                            </button>
                            <button class="btn btn-primary" onclick="courseForm.next()">
                                Next <i class="fe fe-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                    <div id="test-l-5" role="tabpanel" class="bs-stepper-pane fade"
                         aria-labelledby="courseFormtrigger5">
                        <div class="card mb-4">
                            <!-- Card body -->
                            <div class="card-body">
                                <!-- quiz -->
                                <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
                                    <div class="d-flex align-items-center">
                                        <!-- quiz img -->
                                        <a href="#"> <img src="{% static 'Geek/images/course/course-react.jpg' %}"
                                                          alt=""
                                                          class="rounded img-4by3-lg"></a>
                                        <!-- quiz content -->
                                        <div class="ms-3">
                                            <h3 class="mb-0"><a href="#" class="text-inherit">React Basic Quiz </a></h3>

                                        </div>
                                    </div>
                                    <!-- time -->
                                    <div>
                                        <span class="text-danger"><i class="fe fe-clock me-1 align-middle"></i>00:04:30</span>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class="d-flex justify-content-between">
                            <span>Exam Progress:
                            </span>
                                        <span> Question 5 out of 5</span>
                                    </div>
                                    <!-- progress bar -->
                                    <div class="mt-2">
                                        <div class="progress" style="height: 6px;">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 95%"
                                                 aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="mt-5">
                                    <!-- text -->
                                    <span>Question 5</span>
                                    <h3 class="mb-3">Is React a programming language?</h3>
                                    <!-- list group -->
                                    <div class="list-group">
                                        <div class="list-group-item list-group-item-action " aria-current="true">
                                            <!-- form check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDefault9">
                                                <label class="form-check-label stretched-link" for="flexRadioDefault9">
                                                    Yes
                                                </label>
                                            </div>
                                        </div>
                                        <!-- list group -->
                                        <div class="list-group-item list-group-item-action">
                                            <!-- form check -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDefault10">
                                                <label class="form-check-label stretched-link" for="flexRadioDefault10">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-secondary" onclick="courseForm.previous()">
                                <i class="fe fe-arrow-left"></i> Previous
                            </button>
                            <button type="submit" class="btn btn-primary "
                                    onclick=" location.href='{% url 'play' 'results' %}' ">
                                Finish
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <style>
            .recording {
                background-color: red;
            }
        </style>

        <script>
            const recordButtons = document.getElementsByClassName('recordButton');
            const recordingStatus = document.getElementById('recordingStatus');
            const audioPlayer = document.getElementById('audioPlayer');

            let recorder;
            let stream;

            async function startRecording(recordButton) {
                stream = await navigator.mediaDevices.getUserMedia({audio: true});
                recorder = new MediaRecorder(stream);
                recorder.onstart = () => {
                    recordingStatus.textContent = 'Parler...';
                    recordButton.classList.add('recording');
                };
                recorder.start();
            }

            function onRecordButtonClick(event) {
                const recordButton = event.target; // L'objet qui a déclenché l'événement
                if (!recorder || recorder.state === 'inactive') {
                    startRecording(recordButton);
                } else if (recorder.state === 'recording') {
                    recorder.stop();
                    recordingStatus.textContent = 'Enregistrement enregistré';
                    recordButton.classList.remove('recording');

                    recorder.ondataavailable = (e) => {
                        const audioURL = URL.createObjectURL(e.data);
                        console.log(audioURL);
                        audioPlayer.src = audioURL;
                        audioPlayer.style.display = 'block';
                    };
                    stream.getTracks().forEach((track) => track.stop());
                    fetch('/fake_model/')
                        .then((response) => {
                            if (!response.ok) {
                                throw new Error(`Erreur HTTP: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then((data) => {
                            console.log(data);
                            document.getElementById(recordButton.getAttribute('answer_name')+data.answer).checked = true;
                        })
                        .catch((error) => {
                            console.error('Erreur lors de la requête à l\'API:', error);
                        });
                }
            }

            for (let i = 0; i < recordButtons.length; i++) {
                recordButtons[i].addEventListener('click', onRecordButtonClick);
            }
        </script>
    {% elif step == 'results' %}
        <div class="card">
            <!-- card body -->
            <div class="card-body p-10 text-center">
                <!-- text -->
                <div class="mb-4 ">
                    <h2>🎉 Congratulations. You passed!</h2>
                    <p class="mb-0 px-lg-14">You are successfully completed the quiz. Now you click on
                        finish and back to your quiz page.</p>
                </div>
                <!-- chart -->
                <div class="d-flex justify-content-center">
                    <div class="resultChart"></div>

                </div>
                <!-- text -->
                <div class="mt-3">
                    <span>Your Score: <span class="text-dark">85.83% (85.83 points)</span></span><br>
                    <span class="mt-2 d-block">Passing Score: <span class="text-dark">80%</span></span>
                </div>
                <!-- btn -->
                <div class="mt-5">
                    <a href="#" class="btn btn-primary">Finish</a>
                    <a href="#" class="btn btn-outline-secondary ms-2">Share <i class="fe fe-external-link"></i></a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}