{% extends 'base_dashboard.html' %}
{% load custom_filters %}
{% load static %}
{% block header_title %}
    {% if step == 'themes' %}
        Choose themes
    {% elif step == 'wait-for-quiz' %}
        Start your quiz
    {% elif step == 'quiz' %}
        Quiz
    {% endif %}
{% endblock %}

{% block content %}
    {% if step == 'themes' %}
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-12 col-lg-4 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-4by3">
                                        <img src="{% static 'Dashkit/img/avatars/projects/project-1.jpg' %}" alt="..."
                                             class="avatar-img rounded">
                                    </div>

                                </div>
                                <div class="col ms-n2">
                                    <!-- Title -->
                                    <h4 class="mb-1">Thème 1</h4>
                                </div>
                                <div class="col-auto">
                                    <input name="theme1" class="form-check-input" type="checkbox" id="theme1" value="1">
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-4by3">
                                        <img src="{% static 'Dashkit/img/avatars/projects/project-1.jpg' %}" alt="..."
                                             class="avatar-img rounded">
                                    </div>

                                </div>
                                <div class="col ms-n2">
                                    <!-- Title -->
                                    <h4 class="mb-1">Thème 2</h4>
                                </div>
                                <div class="col-auto">
                                    <input name="theme2" class="form-check-input" type="checkbox" id="theme2" value="2">
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-4by3">
                                        <img src="{% static 'Dashkit/img/avatars/projects/project-1.jpg' %}" alt="..."
                                             class="avatar-img rounded">
                                    </div>
                                </div>
                                <div class="col ms-n2">
                                    <!-- Title -->
                                    <h4 class="mb-1">Thème 3</h4>
                                </div>
                                <div class="col-auto">
                                    <input name="theme3" class="form-check-input" type="checkbox" id="theme3" value="3">
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 col-lg-4 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-4by3">
                                        <img src="{% static 'Dashkit/img/avatars/projects/project-1.jpg' %}" alt="..."
                                             class="avatar-img rounded">
                                    </div>

                                </div>
                                <div class="col ms-n2">
                                    <!-- Title -->
                                    <h4 class="mb-1">Thème 4</h4>
                                </div>
                                <div class="col-auto">
                                    <input name="theme4" class="form-check-input" type="checkbox" id="theme4" value="4">
                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3 col-12">
                    <button type="submit" class="btn btn-primary mb-2 lift">Create Quizz</button>
                </div>
            </div>
        </form>
    {% elif step == 'wait-for-quiz' %}
        <div class="text-center">
            <!-- img -->
            <img src="{% static 'Geek/images/svg/survey-img.svg' %}" alt="" class="img-fluid">
            <!-- text -->
            <div class="px-lg-18">
                <h1>Welcome to Quiz</h1>
                <p class="mb-0">Your quiz is ready, just one more step, click the button below.</p>
                <form method="post">
                    {% csrf_token %}
                    <button name="start_quiz" class="btn btn-primary mt-4">Start Your Quiz</button>
                </form>
            </div>
        </div>
    {% elif step == 'quiz' %}
        <div id="courseForm" class="bs-stepper">
            <div class="bs-stepper-content">
                {% for quiz in quiz %}
                    {% for question in quiz.question_set.all %}
                        <div class=" " role="tablist">
                            <div class="step" data-target="#test-l-{{ forloop.counter }}">
                                <div class="step-trigger visually-hidden" role="tab" id="courseFormtrigger{{ forloop.counter }}" aria-controls="test-l-{{ forloop.counter }}"></div>
                            </div>
                        </div>
                    {% endfor %}
                    <form onSubmit="return false">
                        {% for question in quiz.question_set.all %}
                            <div id="test-l-{{ forloop.counter }}" role="tabpanel" class="bs-stepper-pane fade">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
                                            <div class="d-flex align-items-center">
                                                <a href="#"> <img src="{% static 'Geek/images/course/course-react.jpg' %}" alt="" class="rounded img-4by3-lg"></a>
                                                <div class="ms-3"><h3 class="mb-0"><a href="#" class="text-inherit">React Basic Quiz </a></h3></div>
                                            </div>
                                            <div>
                                                <span class="text-danger"><i class="fe fe-clock me-1 align-middle"></i>00:05:45</span>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <div class="d-flex justify-content-between">
                                                <span>Exam Progress:</span>
                                                <span> Question {{ forloop.counter }} out of {{ quiz.question_set.count }}</span>
                                            </div>
                                            <div class="mt-2">
                                                <div class="progress" style="height: 6px;">
                                                    {% with displayed_questions=forloop.counter %}
                                                        {% with total_questions=quiz.question_set.count %}
                                                            {% with percent_complete=displayed_questions|floatformat:2|multiply:100.0|divide:total_questions|floatformat:2 %}
                                                                <div class="progress-bar bg-success" role="progressbar" style="width: {{ percent_complete }}%" aria-valuenow="{{ percent_complete }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                            {% endwith %}
                                                        {% endwith %}
                                                    {% endwith %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-5">
                                            <span>Question {{ forloop.counter }}</span>
                                            <h3 class="mb-3">{{ question.text }}</h3>
                                            {% for answer in question.answer_set.all %}
                                                <div class="d-grid mb-2" role="group" aria-label="Basic radio toggle button group">
                                                    <input type="radio" class="btn-check" name="btnradio" id="q{{ forloop.parentloop.counter }}a{{ forloop.counter }}" checked="">
                                                    <label class="btn btn-outline-secondary text-start" for="q{{ forloop.parentloop.counter }}a{{ forloop.counter }}">{{ answer.text }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <button answer_name="q{{ forloop.counter }}a" class="btn btn-primary recordButton"><i class="fe fe-mic"></i></button>
                                    <button class="btn btn-primary" onclick="courseForm.next()">Next <i class="fe fe-arrow-right"></i></button>
                                </div>
                            </div>
                        {% endfor %}
                    </form>
                {% endfor %}
            </div>
        </div>

        <div aria-live="polite" aria-atomic="true" style="top: 10px; right: 10px; position: absolute; min-height: 200px;">
            <div class="toast align-items-center text-white bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Problem
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% elif step == 'results' %}
        <div class="card">
            <!-- card body -->
            <div class="card-body p-10 text-center">
                <!-- text -->
                <div class="mb-4 ">
                    <h2>🎉 Congratulations. You passed!</h2>
                    <p class="mb-0 px-lg-14">You are successfully completed the quiz. Now you click on
                        finish and back to your quiz page.</p>
                </div>
                <!-- chart -->
                <div class="d-flex justify-content-center">
                    <div class="resultChart"></div>

                </div>
                <!-- text -->
                <div class="mt-3">
                    <span>Your Score: <span class="text-dark">85.83% (85.83 points)</span></span><br>
                    <span class="mt-2 d-block">Passing Score: <span class="text-dark">80%</span></span>
                </div>
                <!-- btn -->
                <div class="mt-5">
                    <a href="#" class="btn btn-primary">Finish</a>
                    <a href="#" class="btn btn-outline-secondary ms-2">Share <i class="fe fe-external-link"></i></a>
                </div>
            </div>
        </div>
    {% endif %}

    <script src="{% static 'quiz.js' %}"></script>
{% endblock %}