{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <link href="{% static 'Geek/fonts/feather/feather.css' %}" rel="stylesheet">
    <link href="{% static 'Geek/libs/bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet"/>
    <link href="{% static 'Geek/libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'Geek/libs/simplebar/dist/simplebar.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Geek/css/theme.min.css' %}">
    <script src="{% static 'Geek/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Title -->
    <title>BrainBusters</title>
</head>
<body>
<div id="db-wrapper">
    <!-- NAVIGATION -->
    <nav class="navbar-vertical navbar navbar-dark">
        <div class="vh-100 mt-5" data-simplebar>
            <!-- Brand logo -->
            <a class="navbar-brand-img p-12" href="{% url 'home' %}">
                <img class="w-25" src="{% static 'logo.png' %}" alt="">
            </a>
            <!-- Navbar nav -->
            <ul class="navbar-nav flex-column" id="sideNavbar">
                {% if 'dashboard' in request.path %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'dashboard' %}">
                            <i class="nav-icon fe fe-grid me-2"></i> Dashboard
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">
                            <i class="nav-icon me-2 fe fe-grid"></i> Dashboard
                        </a>
                    </li>
                {% endif %}
                {% if 'play' in request.path %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'play' 'themes' %}">
                            <i class="nav-icon me-2 fe fe-play-circle"></i> Play
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'play' 'themes' %}">
                            <i class="nav-icon me-2 fe fe-play-circle"></i> Play
                        </a>
                    </li>
                {% endif %}
                {% if 'quiz' in request.path %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'quiz' %}">
                            <i class="nav-icon me-2 fe fe-repeat"></i> Quiz review
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'quiz' %}">
                            <i class="nav-icon me-2 fe fe-repeat"></i> Quiz review
                        </a>
                    </li>
                {% endif %}
                {% if 'user_settings' in request.path %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'user_settings' 'general' %}">
                            <i class="nav-icon me-2 fe fe-user"></i> Settings
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_settings' 'general' %}">
                            <i class="nav-icon me-2 fe fe-user"></i> Settings
                        </a>
                    </li>
                {% endif %}
                <!-- Nav item -->
                <li class="nav-item">
                    <div class="navbar-heading">_</div>
                </li>
                <!-- Nav item -->
                <li class="nav-item">
                    <a class="nav-link "
                       href="{% url 'signout' %}">
                        <i class="nav-icon fe fe-log-out me-2"></i> Sign out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main id="page-content">
        <div class="header">
            <!-- navbar -->
            <nav class="navbar-default navbar navbar-expand-lg">
                <a id="nav-toggle" href="#">
                    <i class="fe fe-menu"></i>
                </a>
                <div class="ms-lg-3 d-none d-md-none d-lg-block">
                    <h1 class="mb-0 h2 fw-bold">{% block header_title %}{% endblock %}</h1>
                </div>
                <!--Navbar nav -->
                <div class="ms-auto d-flex">
                    <a href="#" class="form-check form-switch theme-switch btn btn-light btn-icon rounded-circle ">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                    </a>
                </div>
            </nav>
        </div>
        <section class="p-4 container-fluid">
            {% block content %}{% endblock %}
        </section>
    </main>
</div>
<!-- JAVASCRIPT -->
<!-- Libs JS -->
<script src="{% static 'Geek/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'Geek/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'Geek/libs/simplebar/dist/simplebar.min.js' %}"></script>
<!-- Theme JS -->
<script src="{% static 'Geek/js/theme.min.js' %}"></script>
<script src="{% static 'Geek/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'Geek/js/vendors/chart.js' %}"></script>
<script src="{% static 'Geek/libs/flatpickr/dist/flatpickr.min.js' %}"></script>
<script src="{% static 'Geek/js/vendors/flatpickr.js' %}"></script>
<script src="{% static 'Geek/js/vendors/beStepper.js'%}"></script>
<script src="{% static 'Geek/libs/bs-stepper/dist/js/bs-stepper.min.js' %}"></script>
</body>
</html>