{% extends 'base_dashboard.html' %}
{% load static %}

{% block header_title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-4">
            <!-- card -->
            <div class="card h-100">
                <!-- card body -->
                <div class="card-body">
                    <div class="row">
                        <!-- col -->
                        <div class="col-12">
                            <span class="fw-semi-bold text-uppercase fs-6">Most choosen theme</span>
                        </div>
                        <!-- col -->
                        <div class="col-12">
                            <h3 class="fw-bold mt-2 mb-0 h3">{{ most_choosen_theme }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-4">
            <!-- card -->
            <div class="card h-100">
                <!-- card body -->
                <div class="card-body">
                    <div class="row">
                        <!-- col -->
                        <div class="col-12">
                            <span class="fw-semi-bold text-uppercase fs-6">Successful theme</span>
                        </div>
                        <!-- col -->
                        <div class="col-6">
                            <h3 class="fw-bold mt-2 mb-0 h3">{{ successful_theme }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-4">
            <!-- card -->
            <div class="card h-100">
                <!-- card body -->
                <div class="card-body">
                    <div class="row">
                        <!-- col -->
                        <div class="col-12">
                            <span class="fw-semi-bold text-uppercase fs-6">Unsuccessful theme</span>
                        </div>
                        <!-- col -->
                        <div class="col-6">
                            <h3 class="fw-bold mt-2 mb-0 h3">{{ unsuccessful_theme }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-12 mb-4">
            <!-- card -->
            <div class="card h-100">
                <!-- card body -->
                <div class="card-body">
                    <div class="row">
                        <!-- col -->
                        <div class="col-12">
                            <span class="fw-semi-bold text-uppercase fs-6">Member since</span>
                        </div>
                        <!-- col -->
                        <div class="col-6">
                            <h3 class="fw-bold mt-2 mb-0 h3">{{ menber_since }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-12 col-12 mb-4">
            <!-- card -->
            <div class="card h-100">
                <!-- card header -->
                <div class="card-header">
                    <h4 class="mb-0">Created quiz</h4>
                </div>
                <!-- card body -->
                <div class="card-body">
                    <div class="row">
                        <!-- col -->
                        <div class="col-4">
                            <span class="fw-semi-bold">30 days</span>
                            <h1 class="fw-bold mt-2 mb-0 h2">12,698</h1>
                        </div>
                        <!-- col -->
                        <div class="col-4">
                            <span class="fw-semi-bold">7 days</span>
                            <h1 class="fw-bold mt-2 mb-0 h2">2.65K</h1>
                        </div>
                        <!-- col -->
                        <div class="col-4">
                            <span class="fw-semi-bold">1 days</span>
                            <h1 class="fw-bold mt-2 mb-0 h2">1.34K</h1>
                        </div>
                    </div>
                    <!-- chart -->
                    <div id="chart5"></div>
                    <script>
                        window.addEventListener('load', () => {
                            e = {
                                chart: {type: "bar", height: 302, sparkline: {enabled: !0}},
                                states: {
                                    normal: {filter: {type: "none", value: 0}},
                                    hover: {filter: {type: "darken", value: .55}},
                                    active: {allowMultipleDataPointsSelection: !1, filter: {type: "darken", value: .55}}
                                },
                                colors: ['#5e3fcb'],
                                plotOptions: {bar: {borderRadius: 4, columnWidth: "50%"}},
                                series: [{data: [25, 66, 41, 70, 63, 25, 44, 22, 36, 19, 54, 44, 32, 36, 29, 54, 25, 66, 41, 65, 63, 25, 44, 12, 36, 39, 25, 44, 42, 36, 54]}],
                                xaxis: {crosshairs: {width: 1}},
                                tooltip: {
                                    fixed: {enabled: !1}, x: {show: !1}, y: {
                                        title: {
                                            formatter: function (e) {
                                                return "Active User"
                                            }
                                        }
                                    }, marker: {show: !1}
                                }
                            };
                            new ApexCharts(document.querySelector("#chart5"), e).render();
                        });
                    </script>
                    <div class="fs-6 d-flex justify-content-between mt-2 ps-2">
                        <div class="chart-label">01 Jan, 2020</div>
                        <div class="chart-label">30 Jan, 2020</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-12 mb-4">
            <!-- card -->
            <div class="card h-100">
                <!-- card header -->
                <div class="card-header">
                    <h4 class="mb-0">Themes repartition</h4>
                </div>
                <!-- card body -->
                <div class="card-body">
                    <!-- chart -->
                    <div id="chart6"></div>
                    <script>
                        window.addEventListener('load', () => {
                            e = {
                                series: [60, 55, 12, 17],
                                labels: ["Organic Search", "Direct", "Refferrals", "Social Media"],
                                colors: ['#5e3fcb', '#18c602', '#d30000', '#ec5328'],
                                chart: {type: "donut", height: 260},
                                legend: {show: !1},
                                dataLabels: {enabled: !1},
                                plotOptions: {pie: {donut: {size: "50%"}}},
                                stroke: {width: 2, colors: ['rgba(0,0,0,0)']}
                            };
                            new ApexCharts(document.querySelector("#chart6"), e).render();
                        });
                    </script>
                    <!-- table -->


                    <table class="table table-sm table-borderless  mb-0 mt-5">
                        <tbody>
                        <tr>
                            <td><i class="mdi mdi-square-rounded text-primary fs-5 me-2"></i>Organic
                                Search
                            </td>
                            <td>2,120</td>
                            <td>4.54%</td>
                        </tr>
                        <tr>
                            <td><i class="mdi mdi-square-rounded text-success fs-5 me-2"></i>Direct
                            </td>
                            <td>639</td>
                            <td>4.37%</td>
                        </tr>
                        <tr>
                            <td><i class="mdi mdi-square-rounded text-danger fs-5 me-2"></i>Refferrals
                            </td>
                            <td>520</td>
                            <td>45.14%</td>
                        </tr>
                        <tr>
                            <td><i class="mdi mdi-square-rounded text-info fs-5 me-2"></i>Social Media
                            </td>
                            <td>116</td>
                            <td>12.24%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <script src="{% static 'dashboard.js' %}"></script>
{% endblock %}